* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDF2F4;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header{
    background-color: #2B2D42;
    color: #FFFFFF;
    height: 80px;
    padding: 0 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span{
    font-size: 36px;
}

.add-button {
    background-color: #EF233C;
    color: #FFFFFF;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out
}

.add-button:hover {
    background-color: #d0182f;
}

header a{
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 15.25px;
}

.movie-card {
    width: 200px;
    box-shadow: 0px 4px 3px 0px #00000040;
    background-color: #F4F5F6;
    border: 1px solid #8D99AE;
    border-radius: 12px;
    text-align: center;

    transition: box-shadow 0.3s ease-in-out;
    animation: fadeInUp 0.8s ease-out forwards;
}

.movie-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.movie-card-link {
  color: inherit;
  text-decoration: none;
}


.movie-card img {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    width: 100%;
    height: 240px;
}

.movie-card h3 {
    margin-top: 19px;
    font-weight: 700;
    font-size: 16px;
}

.rating {
  color: red;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 18px;
  -webkit-text-stroke: 1px #ef233c;
}

.star-empty {
  color: white;
}

.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 60px;
    margin: 0 auto;
    max-width: 1020px;
    padding: 26px 20px;
}

.form-page-container {
    max-width: 800px;
    margin: 60px auto;
}

.form-page-container h2{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.form-container{
    background-color: #F4F5F6;
    padding: 33px 61px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.form-group{
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 24px;
    margin-bottom: 6px;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    width: 100%;
    font-family: inherit;
    border: 1px solid #E8EAED;
    color: #333;
    padding: 12px;
    border-radius: 12px;
}

.form-row{
    display: flex;
    gap: 20px;
}

.form-row .form-group{
    flex: 1;
}

.submit-button {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    background-color: #2B2D42;
    color: #FFFFFF;
    font-family: inherit;
    border-radius: 12px;
    border: none;
    padding: 12px;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* Movie Details*/

.movie-details-container {
    margin: 60px auto;
    max-width: 1200px;

    background-color: #F4F5F6;
    border-radius: 12px;
    padding: 48px 90px 86px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.movie-details-body {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.back-link {
  margin-bottom: 20px;
}

.back-link a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.back-link a:hover {
  text-decoration: underline;
}


.movie-poster {
    flex-shrink: 0;
}

.movie-poster img {
    width: 300px;
    border-radius: 12px;
}

.movie-details-info h1 {
    font-size: 46px;
    margin-bottom: 30px;
}

.movie-details-info p {
    font-size: 22px;
    line-height: 1.5; 

}

.rating-details {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.movie-section {
    margin-bottom: 20px;
}

.rating-details .rating {
  margin: 0;
}

.review-title {
  margin-bottom: 5px;
}

@media (max-width: 540px) {
    .movie-list-container {
        justify-content: center;
    }

    .form-page-container{
        margin: 30px auto;
        padding: 0 15px;
    }

    .form-page-container h2{
        font-size: 30px;
    }

    .form-container {
        padding: 25px 20px;
    }

    .form-group label {
        font-size: 20px;
    }

    .form-row {
        flex-direction: column;
        gap: 0px;
    }

    .movie-details-container {
    padding: 20px;
    margin: 30px 15px;
    }

    .movie-details-body {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    }

    .back-link {
    font-size: 12px;
    margin-bottom: 15px;
    }
    .movie-poster img{
        width: 100%;
        max-width: 280px;
    }

    .rating{
        font-size: 20px;
    }

    .movie-details-info h1 {
        font-size: 24px;
        align-items: center;
    }

    .movie-details-info p{
        font-size: 16px;
    }
}